<p-card>
  <div class="ui-g">
    <div class="ui-g-8 ui-md-8 ui-lg-8">
      <p-fieldset legend="Useful links" [toggleable]="false">
        <div class="ui-g">
          <div class="ui-g-3 ui-lg-3 ui-md-3" *ngFor="let linkGroup of poolLinkGroup">
            <p-panel [header]="linkGroup.displayName">
              <ul class="task-list-container">
                <li *ngFor="let link of linkGroup.links">
                  <a [href]="link.href" target="_blank" [innerHTML]="link.value | keepHtml"></a>
                </li>
              </ul>
            </p-panel>
          </div>
        </div>
        <div class="clearfix">
          <div class="right">
            <p-button (onClick)="editLinks()" icon="fa fa-fw fa-pencil"></p-button>
            <p-dialog header="Edit Links" [(visible)]="poolLinkGroupDisplay" [modal]="true" [responsive]="true" [width]="650" [minWidth]="500"
              [minY]="300">
              <span>
                <textarea [rows]="30" [cols]="75" pInputTextarea autoResize="autoResize" [(ngModel)]="poolLinkGroupJSON"></textarea>
              </span>
              <p-footer>
                <button type="button" pButton icon="fa-check" (click)="saveNewLinks()" [disabled]="isLinksInvalid()" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="poolLinkGroupDisplay=false" label="Cancel"></button>
              </p-footer>
            </p-dialog>
          </div>
        </div>
      </p-fieldset>
    </div>

    <div class="ui-g-4 ui-md-4 ui-lg-4">
      <p-fieldset legend="Declared resources" [toggleable]="false">
        <div class="ui-g">
          <div class="ui-g-6 ui-lg-6 ui-md-6">
            <p-chart type="bar" [data]="poolOverviewCpuChart" [options]="chartOptions"></p-chart>
          </div>
          <div class="ui-g-6 ui-lg-6 ui-md-6">
            <p-chart type="bar" [data]="poolOverviewMemoryChart" [options]="chartOptions"></p-chart>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
</p-card>

<p-card>
  <p-tabView>

    <p-tabPanel header="Ecosystems">

      <p-table [value]="ecosystems | searchIn : globalFilter" [paginator]="false" [rows]="50" [resizableColumns]="true" dataKey="name">

        <ng-template pTemplate="caption">
          <div class="text-right ">
            <i class="fa fa-search" style="margin:0px 4px 0 0"></i>
            <input class="global-search" type="text" pInputText size="50" placeholder="Global Filter" name="globalFilter" [(ngModel)]="globalFilter" />
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th class="col-expand"></th>
            <th class="col-status" pResizableColumn>Status</th>
            <th [pSortableColumn]="'name'" pResizableColumn>
              Name
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'updated'" pResizableColumn>
              Updated
              <p-sortIcon [field]="'updated'"></p-sortIcon>
            </th>
            <th pResizableColumn>Info</th>
            <th class="col-resource" pResizableColumn>Resources</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eco let-expanded="expanded">
          <tr [ngClass]="{'overloaded' : eco.overloaded, 'marked-removed': eco.markedAsRemove}">
            <!-- Expand -->
            <td>
              <a [pRowToggler]="eco">
                <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
              </a>
            </td>

            <!-- Status -->
            <td [pTooltip]="'<strong>Running services: </strong>' + eco.status.runningServices + '<br/><strong>Total services: </strong>' + eco.status.totalServices"
              [escape]="false" [tooltipPosition]="'top'">{{eco.status.runningServices}} / {{eco.status.totalServices}}
            </td>

            <!-- Name -->
            <td>
              <i *ngIf="eco.overloaded" class="fa fa-info fa-2x" [pTooltip]="'Ecosystem is not in the dedicated area! Can be deleted at any time!'"
                [escape]="false"></i>
              <i *ngIf="eco.markedAsRemove" class="fa fa-trash fa-2x" [pTooltip]="'Marked this ecosystem as a deletion.<br/>Reason: ' + (eco.markedMessage | removeMsgAsString)"
                [escape]="false"></i>
                {{eco.name}}
              </td>

              <!-- Updated -->
              <td>
                {{eco.updated | date: 'medium'}}
                <img *ngIf="eco.ttlEndDate"  class="ttl" src="assets/ttl.png" [pTooltip]="'TTL end date: <br/>' + (eco.ttlEndDate | date: 'medium' )" [escape]="false" />
            </td>

            <!-- Info -->
            <td>
              <div *ngFor="let label of eco | dockerLabel : 'loxon.info'" [innerHTML]="label | keepHtml"></div>
            </td>

            <!-- Resources -->
            <td>
              <div class="left declared-resources" [pTooltip]="'<h4>CPU</h4>Dedicated: ' + (eco.usedResource.reservedCpuInCore).toFixed(2) + ' core <br/>Limit: ' + (eco.usedResource.limitCpuInCore).toFixed(2) + ' core<hr/><h4>Memory</h4>Dedicated: ' + (eco.usedResource.reservedMemoryInGB).toFixed(2) + ' GB <br/>Limit: ' + (eco.usedResource.limitMemoryInGB).toFixed(2) + ' GB'"
                [escape]="false" [tooltipPosition]="'left'">
                <div>CPU: {{ (eco.usedResource.reservedCpuInCore).toFixed(2) }} core -> {{ (eco.usedResource.limitCpuInCore).toFixed(2)
                  }} core</div>
                <div>Mem: {{ (eco.usedResource.reservedMemoryInGB).toFixed(2) }} GB -> {{ (eco.usedResource.limitMemoryInGB).toFixed(2)
                  }} GB</div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-eco>
          <tr>
            <td [attr.colspan]="5">

              <div class="ui-g">
                <div class="ui-g-4 ui-lg-4 ui-md-4" *ngFor="let task of eco.tasks">
                  <p-card title="{{task.serviceName}}" subtitle="{{task.task.Spec.ContainerSpec.Image | dockerImage}}" class="docker-task">
                    <div class="ports" *ngIf="task.ports">
                      <span class="port" *ngFor="let port of task.ports">{{port.Protocol}}/
                        <a [href]="'http://' + host + ':' + port.PublishedPort" target="_blank">{{port.PublishedPort}}</a>
                      </span>
                    </div>
                    <div class="clearfix">
                      <span *ngIf="task.node" class="left" [pTooltip]="'Host Name: <strong>' + task.node.Description.Hostname + '</strong><br/>Host CPU: ' + (task.node.Description.Resources.NanoCPUs / 1000000000).toFixed(2) + ' core<br/> Host Memory: ' + (task.node.Description.Resources.MemoryBytes / 1073741824).toFixed(2) + ' GB'"
                        [escape]="false">
                        <i class="material-icons">laptop_mac</i> {{task.node.Description.Hostname}}
                      </span>
                      <div class="left declared-resources" [pTooltip]="'<h4>CPU</h4>Dedicated: ' + (task | nanoCPUFormatter:'reserve') + ' core <br/>Limit: ' + (task | nanoCPUFormatter:'limit') + ' core<hr/><h4>Memory</h4>Dedicated: ' + (task|memoryByteFormatter:'reserve') + ' GB <br/>Limit: ' + (task|memoryByteFormatter:'limit') + ' GB'"
                        [escape]="false">
                        <div>CPU: reserve: {{ (task | nanoCPUFormatter:'reserve') }} core ; limit: {{ (task | nanoCPUFormatter:'limit') }} core</div>
                        <div>Mem: reserve: {{ (task|memoryByteFormatter:'reserve') }} GB ; limit: {{ (task|memoryByteFormatter:'limit') }} GB</div>
                      </div>
                    </div>
                    <div class="clearfix box-footer">
                      <small class="left">UpdatedAt: {{task.task.UpdatedAt| date: 'EEEE, MMM d, y, h:mm:ss a'}}</small>
                      <small class="right task-status" [ngClass]="{'task-status-running': task.task.Status.State === 'RUNNING', 'task-status-shutdown': task.task.Status.State === 'SHUTDOWN'}">{{task.task.Status.State}}</small>
                    </div>
                  </p-card>
                </div>
              </div>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          There are {{ecosystems?.length}} ecosystems
        </ng-template>
      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Ports">
      <ng-template pTemplate="content">
        <p-table [value]="ecosystems | ecosystemPorts" [paginator]="true" [rows]="20" [resizableColumns]="true" dataKey="name">
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'port.PublishedPort'" pResizableColumn>Public Port
                <p-sortIcon [field]="'port.PublishedPort'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'port.TargetPort'" pResizableColumn>Internal Port
                <p-sortIcon [field]="'port.TargetPort'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'" pResizableColumn>
                Ecosystem Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-port>
            <tr>
              <td>{{port.port.Protocol}}/{{port.port.PublishedPort}}</td>
              <td>{{port.port.Protocol}}/{{port.port.TargetPort}}</td>
              <td>{{port.name}}</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</p-card>
